#imagencentral{
    display: none;
    visibility: visible;
  }
  .form-login_imagen {
    display: none;
    visibility: visible;
  
  }
  .cartelera{
    display:none
  }
  .label {
      display: inline;
      padding: 0.2em 0.6em 0.3em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.25em;
      background-color: #9b9e9d;
  
  }
  
  .label {
      display: inline;
      padding: 0.2em 0.6em 0.3em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.25em;
  
  }
  
  
  
  .panel-default{
      
   margin-top: 20px;
   display: flex;
    align-items: center;
    justify-content: center;
  
  } 
  
  
  th, td{
      padding: 5px;
  }
  
  thead{
      background-color: #686b6a;
      border-bottom: solid 1px #7d8180;
      color: white;
  }
  
  
  
  
  
  .modal{
    position: fixed;  left:5%;
  
  
   }
   .modal-content{
    align-items: center;
    justify-content: center;
    width: auto;
    height:auto;
   
    position:relative;
    border-top: 40px solid #3876a0;
    border-radius: 10px 10px 10px 10px;
    color: #313e61;
    text-decoration: none;
    font-size: 14px;
   
  
  }      
  
   
     
  
  
  
  
  
  /* 
  *********************************************** */
  
  
  
   .conborder{
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(168, 173, 182);
  
   }
  
   .table{ 
    left: 95%;
    margin-left: -0px;
    top: 50%;
    margin-top: -300px;
  }
  th, td {
  height: 0%;
  } 
  
  input[type=text]{
   
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(168, 173, 182);
   
  } 




.textarea:not([rows]) {
  max-height: 40em;
  min-height: 8em;
}
.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: calc(.75em - 1px);
  resize: vertical;
}
.input, .textarea {
  box-shadow: none;
  max-width: 100%;
  width: 100%;
}
.input, .select select {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  border-radius: 8px;
  color: #363636;
}


html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 13px;
  min-width: 300px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
