.display {

  border: 1.5px solid #4a779c;
  vertical-align: top;
  text-align: right;
  border-radius: 10px 10px 20px 10px;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}



.col-md-8 {

  border-top: 40px solid #3876a0;
  border-radius: 10px 10px 20px 10px;
  background-color: white;
}

/* 
.col-md-6{
  
  border-top: 40px solid #3876a0;
  border-radius: 10px 10px 20px 10px; 
} */


#cintillo {
  width: 50px;
}

#imagencentral {
  display: none;
  visibility: visible;
}

.form-login_imagen {
  display: none;
  visibility: visible;

}

.cartelera {
  display: none
}

.efa {
  display: none;
  position: absolute;
  visibility: visible;
  left: 6%;
}

label {


  font-size: 15px;



}



.panel-default {

  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

th,
td {
  padding: 1px;
  font-size: 14px;
  text-align: center;
}



.btn-xs{
  padding: 0.42rem;
}


thead {
  background: linear-gradient(to right, #4a779c,#7e9ab1,#5f7a91);
  border-bottom: solid 1px #1b7961;
  color: white;

}




/* tr:nth-child(even){
	background-color: #ddd;
} */









.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  left: 5%;


}

.modal-content {
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  border-top: 40px solid #3876a0;
  border-bottom: 40px solid #3876a0;
  border-radius: 10px 10px 10px 10px;
  color: #313e61;
  text-decoration: none;
  font-size: 14px;
}

.modal-header {
  border: 0px;

}

.modal-footer {

  border: 0px;
}


/* .modal_anticon{
  position:relative;
  align-items: center;
  justify-content: center;
  background:white;
  width: 730px;
  height:auto;
  border-top: 40px solid #3876a0;
  border-bottom: 40px solid #3876a0;
  border-radius: 10px 10px 10px 10px;
  color: #313e61;
  text-decoration: none;
  font-size: 14px;
 

} */



/* 
*********************************************** */


/* input[type=text]
 {
  background:white;
  border-radius: 5px;
  border-color: #a2a5a7;
  color:  rgb(32, 32, 32);
  border: 0;
}  */

.sinborder {
  background: white;
  border-radius: 5px;
  border-color: #a2a5a7;
  color: rgb(32, 32, 32);

  border: none;
}

.input:focus {
  color: #6c1aef;
}

td, th {
  text-align: left;
}
#table_reposos{
  text-align: left;
  
}





#btnRegresar_hacia_titulares {

  position: absolute;
  top: 197px;
  left: 662px;
}

.Imprimir {
 
  font-size: 9px;
  position: relative;
  border: none;
  font-size: x-small;

}


input {
  margin: 5px;
  left: 10%;
}

/* 
//SIGNOS VITALES DEL PACCIENTE/// */

.legend {

  width: auto;
  font-size: 16px;
}

fieldset {
  top: 30px;
  align-content: center;
  width: auto;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  ;
  border: 2px double #80808094;
  padding: 0.5rem 1rem;
  color: #424344;

}

.labelfecha {
 
  top: 4px;
  left: 630px;
  font-size: 14.5px;
}

#fecha_asist {
 

}

#fecha_del_dia_mi {
  
  border: 1;

}

/* .labelfechaconlta{
  position: absolute;
  top:190px;
  left:630px; 
} */







.fechaconsulta {
  position: absolute;
  top: 86px;
  left: 270px;
  border: none;

}

/* #fecha_consulta{
  position: absolute;
  top: 184px;
  left:800px; 
  border: none;

} */


#fecha_creacion {
  
  top: -0px;
  left: 790px;
  border: none;

}

#tipodesangre {
  font-size: 13.5px;
}















.labelfechamgeneral {
  position: absolute;
  top: 4px;
  left: 630px;
}

#fecha_asistencia_mgeneral {
  position: absolute;
  top: -0px;
  left: 800px;

}



.label_1ra_conslulta {


}

#fecha_1ra_consulta {
 

}




.titulo_psicologia {
  position: absolute;
  top: -30px;

  color: rgb(247, 239, 239);
}

.titulo_mgeneral {
  position: absolute;
  top: -30px;
  
  color: rgb(247, 239, 239);
}


.titulo_mgeneral_pp {
  position: absolute;
  top: -30px;

  color: rgb(247, 239, 239);
}

#fecha_asistencia {
  position: absolute;
  top: 0px;
  left: 570px;
}




/* 
#impresiond{
  width: 100px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(124, 123, 123);
  background-color:rgb(250, 246, 246);
  outline: none; 
} */

#motivo_consulta {
  position: relative;
  top: 7px;
  width: 440px;
  height: 26px;
  border-radius: 5px 5px 5px 5px;
  border: 0px solid rgb(124, 123, 123);
  background-color: rgb(252, 251, 251);
  outline: none;
  font-size: 13px;
  left: -4px;
}
#motivo_consulta_mi {
  position: relative;
  top: 6px;
  width: 64%;
  height: 26px;
  border-radius: 5px 5px 5px 5px;
  border: 0px solid rgb(124, 123, 123);
  background-color: rgb(252, 251, 251);
  outline: none;
  font-size: 13px;
  left: -4px;
}
#motivo_consulta_pp {
  position: relative;
  top: 7px;
  width: 60%;
  height: 26px;
  border-radius: 5px 5px 5px 5px;
  border: 0px solid rgb(124, 123, 123);
  background-color: rgb(252, 251, 251);
  outline: none;
  font-size: 13px;
  left: -4px;
}
#motivo_consulta_GB {
  position: relative;
  top: 6px;
  width: 60%;
  height: 26px;
  border-radius: 5px 5px 5px 5px;
  border: 0px solid rgb(124, 123, 123);
  background-color: rgb(252, 251, 251);
  outline: none;
  font-size: 13px;
  left: -4px;
}

.labelimpresiond {
  position: relative;
  font-size: 14px;
  color: #244583;
  top: -6px;
  left: 0px;
  font-size: 13px;
}

/* .btn.btn-xs{
    width: 23%;
    
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; 
  } */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input[type=text] {
  font-size: 14px;
}

/* .btnagregar{
  position: absolute;
  left: 140px;
  font-size:11px;
  top: 246px;

} */


.btnMostrar {
 
  left: 270px;
  font-size: 11px;
 

}

.btnMostrar2 {
  left: 270px;
  font-size: 11px;

}



.btnMostrar_mi {
  left: 270px;
  font-size: 11px;

}

.btnMostrar2_mi {
  left: 270px;
  font-size: 11px;

}

.btnMostrar3_mi {
  left: 270px;
  font-size: 11px;

}
.btnMostrar_PSICO {
  left: 270px;
  font-size: 11px;
 


}

.nombretitular{
  width: 70%;
}
.fecha_nacimientotitular{
  width: 20%;
}
.cedulatitular{
  width: 30%;
}




.btnActualizar {
  position: absolute;
  left: 60px;
  font-size: 12px;
}

.btnActualizar_signos {
  font-size: 12px;
}

.btnAgregar_signos {
  font-size: 12px;
}

@media (max-width: 575.98px) {
  .btn-xs-xs{  /* Use a single, more generic class name */
    position: relative;
    top: 0px;
    left: 240px;
    padding: 0.42rem;
    background-color: #717575;  /* Use hex color for consistency */
    border-radius: 5px;
  }
}


.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.observacion{
 
  width: 465px;
  height: 100px;
  background-color: white;
  
}

.textimpresiond {
  flex-direction: column;
  top: 14px;
  width: 60%;
  height: 23px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(165, 164, 165);
  background-color: #fffefe;
  /* text-align: center; */
  font-size: 14px;
  outline: none;
}



.observacion:focus {


  flex-direction: column;
  border-radius: 12px;
  outline: none;
  background-color: white;
  padding: 0px;

}
.observacion_gb {

  width: 465px;
  height: 100px;
  background-color: white;
  color:  rgb(29, 28, 28);
  margin-left: 0px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgb(209, 207, 207);
  outline: none; 
  background-color: white; 
  font-size: 13px;
}

.observacion_reposos {

  width: 100%;
  height: 100px;
  background-color: white;
  color:  rgb(29, 28, 28);
  margin-left: 0px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgb(209, 207, 207);
  outline: none; 
  background-color: white; 
  font-size: 13px;
}

/* input:focus[type=text]{
  
  border-radius: 12px;  
  outline: none; 
  background-color: white;
  padding: 0px;
 
} */


textarea {
  width: 100%;
  height: 83px;
  color: rgb(29, 28, 28);
  margin-left: 0px;
  border-radius: 5px 5px 5px 5px;
 
  outline: none;
  background-color: rgb(102, 45, 45);
  font-size: 13px;
  border: 1px;
}


.labelbeneficiario {
  position: absolute;
  top: 165px;
  left: 32px;
  font-size: 14px;

}

#Tbenficiario {
  font-size: 13px;
  border: none;
  color: #000;

}

.texto {
  
  font-size: 13px;
  color: #244583;
}

.texto_mi {
  
  font-size: 13px;
  color: #244583;
}




#img_beneficiario {
  position: absolute;
  top: 44px;
  left: 823px;
  font-size: 13px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgba(71, 71, 71, 0.2);

}

#img_beneficiario_pp {
  position: absolute;
  top: 70px;
  left: 783px;
  font-size: 13px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgba(71, 71, 71, 0.2);

}

/* span{
  color: #244583;
} */

select {

  /* styling */
  background-color: white;
  border: thin solid rgb(127, 127, 133);

  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 0.9em;
  padding: 0.9em 1.3em 0.2em 0.3em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, rgb(218, 218, 231) 50%),
    linear-gradient(135deg, rgb(209, 209, 226) 50%, transparent 50%),
    linear-gradient(to right, rgb(46, 141, 219), rgb(120, 154, 216));
  background-position:
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 10px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, rgb(42, 150, 117), rgb(42, 150, 117));
  background-position:
    calc(103% - 15px) 1em,
    calc(103% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}




select.round {
  background-image:
    linear-gradient(45deg, transparent 50%, rgb(128, 128, 128) 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

select.round:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    4px 4px,
    4px 4px,
    1.4em 1.4em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}





select.minimal {
  background-image:
    linear-gradient(44deg, transparent 40%, gray 40%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

#aciones {
 

}

#aciones_mi {

  font-size: 12px;


}

#aciones_pp {
  position: relative;
  font-size: 12px;
top: 5px;

}

#aciones_gb {
  font-size: 12px;
}
#aciones_Psicol {
  font-size: 12px;
}



.bodersueve {
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(165, 164, 165);
  background-color: #fffefe;
  /* text-align: center; */
  font-size: 14px;
  outline: none;
}

.bodersueve_fieldset {
  width: auto;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(209, 205, 207);

  font-size: 14px;
  outline: none;
}



label {
  font-size: 14px;
}

.datos {
  font-size: 14.5px;
}

.cursor {

  font-weight: bold;
  color: #3d0e10;
}


.texto_pp {
 
  font-size: 13px;
  color: #244583;
}


.texto_PSICO {
 
  font-size: 13px;
  color: #244583;
}



.texto_gb {

  font-size: 13px;
  color: #244583;
}



.btnMostrar_pp {
  left: 270px;
  font-size: 11px;

}

.btnMostrar2_pp {
  left: 270px;
  font-size: 11px;

}

.btnMostrar3_pp {
  left: 270px;
  font-size: 11px;

}

.btnMostrar_gb {
  left: 270px;
  font-size: 11px;

}

.btnMostrar2_gb {
  left: 270px;
  font-size: 11px;

}

.btnMostrar3_gb {
  left: 270px;
  font-size: 11px;

}


#btnAgregar_signos_gb {

  font-size: 11px;
}



.btnAgregar_his_obste {
  font-size: 11px;
}



#dismenorrea {
  font-size: 12px;
}

#eumenorrea {
  font-size: 12px;
}


.tamaño {
  font-size: 12px;

}

.textarea {
  height: 32px;
}

.texo_obster {
  position: relative;
  top: -10px;
}


.label_detalle_historia{
position: relative;
top:-30px;
}
.detalle_historia{
  height: 70px; 
}

#diu{
  position: relative;
 left: 10px;
}
#t_cobre{
  position: relative;
 left: 30px;
}
#mirena{
  position: relative;
 left: 35px;
}

#aspiral{
  position: relative;
 left: 32px;
}
#i_subdermico{
  position: relative;
 left: 32px;
}

.r_vencido{
  border: 0px;
}
.r_vigente{
  border: 0px;
}

.horas{
text-align: center;
  width: 8%;
  outline: none;
}

.dias{
  text-align: center;
    outline: none;
  }


