/* fallback */




th,
td {
    padding: 2px;
    font-size: 14px;
}

thead {
    font-size: 14px;
}

tr:nth-child(even) {
    background: linear-gradient(to right, #e4e6e7, #caced3, #c4cacf);
}

.btn-xs {
    padding: 0.10rem;
}


@media (max-width: 575.98px) {
    .btn-xs-xs{  /* Use a single, more generic class name */
      position: relative;
      top: 0px;
      left: 240px;
      padding: 0.42rem;
      background-color: #717575;  /* Use hex color for consistency */
      border-radius: 5px;
    }
  }
  .btn-xs{
    padding: 0.42rem;
  }
.modal-content {
    border-top: 40px solid #3c5b72;
    border-bottom: 30px solid #3c5b72;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 14px;
}


/* .form-login_imagen {
    position: relative;
    top: 50px;
    width: 600px;
    background: linear-gradient(to right, #657583, #a9b6c2, #5e6d7a);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    box-shadow: 7px 13px 37px rgb(250, 246, 246);
    padding: 20px 20px;
    border-top: 2px solid #496a77;
    ;
    color: white;
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    border: 1px double;
} */

