

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;

}
.btn-xs{
  padding: 0.42rem;
}
.panel-default{

margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;
} 

.display{
  
  background-color: white;
}

.modal{
position: relative;  
width: auto;
height: auto;
display: flex;
align-items: center;

}
.modal-content{
 
  position:relative;
  border-top: 40px solid #3876a0;


  font-size: 14px;

}     




.modal-footer{
border: 0px;
}
/* 
*********************************************** */

.cartelera{
  display:none
}
input[type=text]{
  height: 30px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(182, 168, 170);} 

th, td {
height: 0%;
} 
#imagencentral{
  display: none;
  visibility: visible;
}

.form-login_imagen {
  display: none;
  visibility: visible;

}