  #imagencentral{
  display: none;
  }

  @media screen and (max-width: 768px) {
    /* Estilos para dispositivos móviles */
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablets */
  }
  
  @media screen and (min-width: 1025px) {
    /* Estilos para escritorios */
  }
  .btn-xs{
    padding: 0.42rem;
  }
  .form-login_imagen {
    display: none;
    visibility: visible;
  
  }
      .modal { 
        position: fixed;  left:7%;
      }  

      .modal-content{
        position:relative;
        border-top: 40px solid #3876a0;
        border-bottom: 40px solid #3876a0;
        border-radius: 10px 10px 10px 10px;
        color: #313e61;
        text-decoration: none;
        font-size: 14px;

     
      }     


   
      .sinborder{
        background-color: #f8f8f8;
        border: none; 
      }
      
      .cartelera{
        display:none
        
     }
     
     .display{
  
      background-color: white;
    }
  
     /* #table_entradas{
  
      background-color: white;
    }
   */
  
  
     th, td{
      padding: 2px;
      font-size: 13px;
    }
    
    thead{
      color: white;
      font-size: 14px;
    }

tr:nth-child(even){
	background-color: #ddd;
}  
.modal-footer{
  border: 0px;
}

.pdf{

  position: absolute;
  top: -5px;
  left: -60px;
}
.cantidad{

  position: absolute;
  top: 234px;
  left: 390px;
}

.table{
  
  left: 45%;
  margin-left: -0px;
  top: 50%;
  margin-top: -300px;
}

.labelfecha{

  position: absolute;
  top: 290px;
  left: 20px;
}

.fecha{

  position: absolute;
  top: 25px;
  left: 158px;
}


.labelcategoria{
  position: absolute;
  top: 25px;
  left: 2px;
}
.cmbCategoria{
  position: absolute;
  top: 20px;
  left: 160px;
}






  .labelborrado{

    position: absolute;
    top: 70px;
    left: 7px;
  }
  .borrado{

    position: absolute;
    top: 76px;
    left: 65px;
  }

  .btnAgregar{

    position: absolute;
    top: 145px;
    left: 1520px;
  }


  .btnExcel{

    position: absolute;
    top: 155px;
    left: 1160px;
  }

  
  .btncompuestos {
   
    border: 0;
    border-radius: 5px;
    position: absolute;
    top: 115px;
    left: 390px;
}

.select2-selection__choice {
  background-color: rgb(216, 210, 210) !important;

  color: rgb(19, 18, 18) !important;
 
} 
#labelobservacion
{
  position: absolute;
  top:40px;
  left: 12px;

}
#observacion{
  position: absolute;
  top: 60px;
  left: 8px;
  width: 482px;
  height: 83px;
  border-radius: 10px;
 

}

.bodersueve{
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(165, 164, 165);
  background-color: #fffefe;
  /* text-align: center; */
  font-size: 14px;
  outline: none; 
}

textarea::placeholder {

  font-size: 1.2em;
  font-style: italic;
  color: aqua;
  }

  #activo{
    position: absolute;
    top: 170px;
    left: 28px;
  }
  
  #borrado{
    position: absolute;
    top: 175px;
    left: 100px;
  }

#title_entradas{
 
  position: absolute;
  top: -30px;
  left: 80px;
  color:white;

}


@media (max-width: 575.98px) {
  .btn-xs-xs{  /* Use a single, more generic class name */
    position: relative;
    top: 0px;
    left: 240px;
    padding: 0.42rem;
    background-color: #717575;  /* Use hex color for consistency */
    border-radius: 5px;
  }
}
/* .select2-selection__choice {
  background-color: red !important;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0);
  background-image: -webkit-linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  background-image: -moz-linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  background-image: -o-linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  background-image: -ms-linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  background-image: linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05) !important;
  color: white !important;
  border: 1px solid #aaaaaa !important;
} */
