*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}

.content{
    width:100%;
    min-height:100vh;
   
}

.content-collapse{
  
    padding:-40px;
    width:auto;
    height: auto;
    border:0px solid rgb(20, 20, 20);
   
    border: 0px;

}
.btn-xs{
    padding: 0.42rem;
  }
.content-collapse section:nth-child(n){
    text-align:justify;
    position:relative;
    background:#fff;
    border: 0px;
}

.content-collapse section:nth-child(n) span{
    margin:10px 0 10px 0;
    padding:5px 5px 5px 5px;
    border-style:none;
    background:#578d80;
    color:#fff;
    cursor:pointer;
    border: 0px;
}




.texto_expandir{
    position:absolute;
    overflow:hidden;
    max-height:0px;
    transition: max-heigh 0.1s ease-out;
   
}
.abrir_cerrar{
    margin-top: 20px;
    max-height:600px;
    transition: max-height 0.1s ease-in;
   

}

textarea {
   
    left: -10px;
    top: 50px;
    width: 880px;
    height: 120px;;
  
    border-radius: 10px;
  
    
  
  }

  textarea::placeholder{
  position: absolute;
  top: 10px;
    left: 30px;
    
   
    color: rgb(77, 75, 75)
  }
  
 
  
  
  

  
  
  