/* label {
  display: block;
  margin: .5em 0 0 0;
}
.btn {
  display: block;
  margin: 1em 0;
}
div {
  margin: .4em 0;
} */
/* div label {
  width: 46%;
  float: left;
} */

/***********formulario en dos colunas********/
form fieldset {
  float: left;
  width: 20%;
  background: #dddada;
  border-radius: 20px 10px 30px 50px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 80px 80px 50px 30px;
border: 5px double;
color: #101930;
}

.ft{
  float: left;
  width: 80%;
  background: #dddada;
  border-radius: 20px 10px 30px 50px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 80px 80px 50px 30px;
border: 5px double;
color: #101930;

}
input:focus {
  border: 2px solid rgb(133, 52, 187);
  background: #dddbe2;
}