/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/
#imagencentral{
  display: none;
  visibility: visible;
}
.redondeado {
	border-radius: 5px;
  }
  .confondo {
	background-color: #def;
  }

  @media screen and (max-width: 768px) {
    /* Estilos para dispositivos móviles */
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablets */
  }
  
  @media screen and (min-width: 1025px) {
    /* Estilos para escritorios */
  }
  
  .label-danger {
    background-color: #d9534f;
}
.label-success {
    background-color: #5cb85c;
}


.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;

}


.boton{

        width: 450px;
        background-color: #632432;

        }

.panel-default{
	text-align: center;
 margin-top: 20px;
 display: flex;
  align-items: center;
  justify-content: center;

} 



.row{
  
  background-color: white;
}



th, td{
	padding: 15px;
  font-size:13px;
}

thead{
  background: linear-gradient(to right, #4a779c,#7e9ab1,#5f7a91);
	border-bottom: solid 1px #7d8180;
	color: white;
  font-size: 14px;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #0f9b9b;
	color: white;
}


.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



