


  img {
   
    border-radius: 50%;
    

  }

  #persona{
    display: flex;
    align-items: center;
    justify-content: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
  }
 
  #imagencentral{
    display: none;
    visibility: visible;
  }
  .form-login_imagen {
    display: none;
    visibility: visible;
  
  }

  .cartelera{
    display:none
 }

