#imagencentral{
  display: none;
  }

  .form-login_imagen {
    display: none;
    visibility: visible;
  
  }
  .modal { 
    position: fixed;  left:7%;
  }  
  @media screen and (max-width: 768px) {
    /* Estilos para dispositivos móviles */
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablets */
  }
  
  @media screen and (min-width: 1025px) {
    /* Estilos para escritorios */
  }
  
  .modal-header{
    border: 0px;
  }
   
      .modal-content
      {
        
        margin: 0 auto;
        width: auto;
        height: 490px;
        position:relative;
        border-top: 40px solid #3876a0;
        /* border-bottom: 20px solid #3876a0; */
        border-radius: 10px 10px 10px 10px;
        color: #313e61;
        text-decoration: none;
        font-size: 14px;
       
      }   

      .cartelera{
        display:none
     }
     

  
     .display{
  
      background-color: white;
    }
   
     th, td{
      padding: 2px;
      font-size: 13px;
    }
    
    thead{
      color: white;
      font-size: 14px;
    }

tr:nth-child(even){
	background-color: #ddd;
}  
.modal-footer{
  border: 0px;
}


.cantidad{

  position: absolute;
  top: 234px;
  left: 390px;
}

#labelcronico{

  position: absolute;
  top: 30px;
  left: 340px;
}
#cronico{
  position: absolute;
  top: 36px;
  left: 570px;
}

.btn-xs{
  padding: 0.42rem;
}

@media (max-width: 575.98px) {
  .btn-xs-xs{  /* Use a single, more generic class name */
    position: relative;
    top: 0px;
    left: 240px;
    padding: 0.42rem;
    background-color: #717575;  /* Use hex color for consistency */
    border-radius: 5px;
  }
}


.fecha{

  position: absolute;
  top: -33px;
  left:310px;
}



#labelcategoria{
  position: absolute;
  top: 245px;
  left: 600px;
}
.cmbCategoria{
  position: absolute;
  top: 20px;
  left: 160px;
}








  .labelborrado{

    position: absolute;
    top: 310px;
    left: 230px;
  }
  .borrado{

    position: absolute;
    top:313px;
    left: 290px;
  }



  .labelcronico{

    position: absolute;
    top: 310px;
    left: 10px;
  }

  .cronico{

    position: absolute;
    top:313px;
    left: 170px;
  }
 

/* .table{
  position: relative;
  top:-40px;
} */

  .table.btn-danger{
    text-align: center;
  }

  
  .btncompuestos {
   
    border: 0;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 350px;
}

.select2-selection__choice {
  background-color: rgb(216, 210, 210) !important;

  color: rgb(19, 18, 18) !important;
 
} 

.bigdrop {
  width: 600px !important;
}

/* .select2-selection__choice {
  background-color: red !important;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0);
  background-image: -webkit-linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  background-image: -moz-linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  background-image: -o-linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  background-image: -ms-linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  background-image: linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05) !important;
  color: white !important;
  border: 1px solid #aaaaaa !important;
} */

.form-login h4 {
  
  margin: 0;
  text-align: center;
  width: 450px;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.modal-body{
  top: -30px;
}

.sinborder{
  height: 30px;
  border-radius: 5px 5px 5px 5px;
background-color: rgb(244, 248, 252);
border: none;
} 



.vm{
  font-size: 13px;
  
 }

 .btn-warning{
  border: none;
  text-align: center;
  border-radius: 5px;
 }
 .btnsolvente{
  border: none;
  text-align: center;
  border-radius: 5px;
  color: black;
 }