/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}

.redondeado {
	border-radius: 5px;
  }
  .confondo {
	background-color: #def;
  }
  .cartelera{
    display:none
 }

  .label-danger {
    background-color: #d9534f;
}
.label-success {
    background-color: #5cb85c;
}


.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;

}


.boton{

        width: 450px;
        background-color: #632432;

        }

    

.panel-default{
	text-align: center;
 margin-top: 20px;
 display: flex;
  align-items: center;
  justify-content: center;

} 


.row{
  
  background-color: white;
}


th, td{
	padding: 2px;
  font-size: 13px;
}

thead{
  color: white;
  font-size: 14px;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #0f9b9b;
	color: white;
}

.btn-xs{
  padding: 0.42rem;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




