.form-login {
    margin: 0 auto;
    width: 500px;
    height: 240;
    background-color: rgb(209, 167, 176);
    align-items: center;
   
    position: relative; 
    border-top: 40px solid #682835;
    border-radius: 20px 20px 20px 20px;
    padding: 20px 20px;
  
  } 
  #buscar{
    position: relative;
    left: 170px;
  }

  #foto{
    position: absolute;
    top: 50px;
    left: 500px;
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
    
  }
  #foto2{
    position: absolute;
    top: 50px;
    left: 500px;
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
    
  }
  #foto3{
    position: absolute;
    top: 50px;
    left: 500px;
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
    
  }

  