body {
  font-family: arial;
  background-image: url('/img/fondo.svg');
  background-size: cover; /* Cubre todo el elemento contenedor */
  background-repeat: no-repeat;
}

.form-login {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 21%;
  height: 310px;
  background-color: #b4dbe2;
  margin: -155px 0 0 -115px;
  padding: 20px 20px;
  border-radius: 10px 10px 10px 10px;
  color: #313e61;
  text-decoration: none;
  font-size: 12px;
}

.img_center {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.controls {
  width: 100%;
  border: 1px solid #babfc2;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: white;
  font-size: 14px;
  font-weight: bold;
}

.buttons {
  width: 100%;
  height: 40px;
  background: #1c91c5;
  border: none;
  color: white;
  margin-bottom: 16px;
}

input[type=text], input[type=password] {
  background: #deecf5f8;
  border-radius: 5px;
  color: rgb(31, 29, 29);
}

input:focus[type=text], input:focus[type=password] {
  border-radius: 12px;
  outline: none;
  background-color: white;
}

.btn {
  background-color: #1c91c5;
}