#imagencentral{
  display: none;
}

.form-login_imagen {
  display: none;
  visibility: visible;

}
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}

.btn-xs{
  padding: 0.42rem;
}
.img_center{
  display: table;
  margin-right: auto;
  margin-left: auto;
}
.cartelera{
  display:none
}
.form-login {
    width: 540px;
    height: 380px;
    
    margin: auto;
    margin-top: -12px;
padding: 20px 20px;
background: #46505a75;
background: #46505a75;

top:280px;
box-shadow: 7px 13px 37px rgb(250, 246, 246);
padding: 20px 20px;
border-top: 2px solid #017bab;
color: rgb(255, 254, 254);
border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;

border: 1px double;

  }




 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
    background-image: url('bg.png');
  }

  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 25px;
  }

  .controls {
    width: 100%;
    border: 1px solid #babfc2;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: white;
    font-size: 14px;
    font-weight: bold;
  }

  .buttons {
    width: 100%;
    height: 40px;
    background:  #3876a0;
    border: none;
    color: white;
    margin-bottom: 16px;
  }
  
  .form-login p{
    height: 40px;
    text-align: center;
  
  }
  
 
  
  .form-login a:hover {
    text-decoration: underline;
  }

 