
@media screen and (max-width: 768px) {
	/* Estilos para dispositivos móviles */
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
	/* Estilos para tablets */
  }
  
  @media screen and (min-width: 1025px) {
	/* Estilos para escritorios */
  }
  

*{box-sizing:border-box;}

form {
	width:370px;
	padding:25px;
	border-radius:19px;

	background-color:rgb(206, 200, 200); 

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -55%);
}
.btn-xs{
	padding: 0.42rem;
  }
form label{
   
	width:90px;
	font-weight:bolder;
	display:inline-block;
    
}


form input[type="text"],
form input[type="email"]{
	width:150px;
	padding:5px 3px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}


form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid rgb(2, 21, 34);
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:rgb(101, 103, 104);
} 
