
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}


#imagencentral{
  display: none;
}
.cartelera{
  display:none
}
.form-login_imagen {
  display: none;
  visibility: visible;

}
.modal-header{
  align-items: center;
  justify-content: center;
 border: 0px;
  

 }
 .btn-xs{
  padding: 0.42rem;
}
 .modal{
  position: fixed;  left:5%;


 }
  .modal-content{
  
  
    border: 0px;
    width: auto;
    height: auto;
    border-top: 4px solid #017bab;
    border-bottom: 40px solid #3876a0;
    color: #313e61;
    border-radius: 10px 10px 10px 10px;
      
   
  }     

  .display{
  
    background-color: white;
  }

.modal-footer{
  border: 0px;
}
 
  
  
  
  input[type=text]{

    border: 0px;
    color: #222324;

  }
  .labelhasta{
    position: absolute;
    top: 2px;
    left: -50px;
    font-size: 18px;
   }
 
 .medicamento{
  position: absolute;
  top: -6px;
  left: 130px;
  border: 0px;
 
 } 
 .labelcontrol{
  position: absolute;
  top: 2px;
  left: 122px;
  font-size: 18px;
 }
 .control{
  position: absolute;
  top: 0px;
  left: 190px;
 } 

 
 /* .desde{
  position: absolute;
 }

 .labelhasta{
  position: absolute;
  top: 17px;
  left: 40px;
  font-size: 18px;
 }
  .hasta{
  position: absolute;
  top: 16px;
  left: 100px;
 } */
  .bntEntradas{

  position: absolute;
  top: 0px;
  left: -60px;
  border-radius: 8px;
 }

 .Radio1{
  position: absolute;
  top: 4px;
  left:-65px;

 }

 .btnSalidas{
  position: absolute;
  top: 0px;
  left: 60px;
  border-radius: 8px;
 }
 .Radio2{
  position: absolute;
  top: 4px;
  left: 50px;
 }
 .btnPdfEntradas{
  position: absolute;
  top: 70px;
  left: 65px;
  border-radius: 8px;
 }

 .btnPdfSalidas{
  position: absolute;
  top: 70px;
  left: 65px;
  border-radius: 8px;
 }

 .btntodo{
  position: absolute;
  top: 0px;
  left: 170px;
  border-radius: 8px;

 }
 .todo{
  position: absolute;
  top: 0px;
  left: 105px;
 
 }

 .btnExcelEntradas{
  position: absolute;
  top: 70px;
  left: 140px;
  border-radius: 8px;
 }

 .btnExcelSalidas{
  position: absolute;
  top: 70px;
  left: 140px;
  border-radius: 8px;
 }

