.form-login_imagen {
    position: relative;
    top: 70px;
    width: 620px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    box-shadow: 7px 13px 37px rgb(250, 246, 246);
    padding: 20px 20px;
    border-top: 15px solid #017bab;
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
}



.historial:hover {
    height: auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 3px 3px rgb(88, 88, 88);
  
    cursor: pointer;
}

.reportes {
    width: auto;
    height: auto;
}

.reportes:hover {
    height: auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 3px 3px rgb(88, 88, 88);
    color: #1717FF;
    /* cursor: pointer; */
}

.inventario {
    width: auto;
    height: auto;
}

.inventario:hover {
    height: auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 3px 3px rgb(88, 88, 88);
    color: #1717FF;
    cursor: pointer;
}

.usuarios {
    width: auto;
    height: auto;
}

.usuarios:hover {
    height: auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 3px 3px rgb(88, 88, 88);
    color: #1717FF;
    cursor: pointer;
}

.auditoria {
    width: auto;
    height: auto;
}

.auditoria:hover {
    height: auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 3px 3px rgb(88, 88, 88);
    color: #1717FF;
    cursor: pointer;
}

#entradas {
    display: none;
}

@font-face {

    font-family: 'Material Icons';
  
    font-style: normal;
  
    font-weight: 400;
  
    src: local('Material Icons'),
  
         url('/Material_Icons/MaterialIcons-Regular.woff2') format('woff2'),
  
         url('/Material_Icons/MaterialIcons-Regular.ttf') format('truetype');
  
  }

  @media (max-width: 767px) {

    .display {

        width: 100%;

        margin-bottom: 1rem;

        overflow-x: auto;

        -webkit-overflow-scrolling: touch;

        -ms-overflow-style: -ms-autohiding-scrollbar;

    }

    .table-responsive > .table {

        margin-bottom: 0;

    }

}

.modal-content {

    width: 90%;

    height:70%;

}